<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Current Schedule
    </h2>
  </div>
  {{#each demos as |demo|}}
    <div class="dish col-md-5">
      <p>
        {{demo.id}}.
        {{demo.brand}}
        <br />
        {{demo.campaign}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        BA:
        {{demo.ba_name}}
        <br />
        Location: 
        {{demo.location}}
      </p>
    </div>
  {{/each}}
</div>

<!-- This is the form for adding a new demo -->

<div class="add-dish-container">
  <h2>
    Add an event to the schedule.
  </h2>
  <form class="new-dish-form">
    <label for="brand">
      Brand:
    </label>
    <br />
    <textarea id="brand" name="brand" rows="2" cols="30">
      {{brand}}
    </textarea>
    <br />
    <label for="campaign">
      Campaign:
    </label>
    <br />
    <textarea id="campaign" name="campaign" rows="2" cols="30">
      {{campaign}}
    </textarea>
    <br />
    <label for="ba_name">
      BA Name:
    </label>
    <br />
    <textarea id="ba_name" name="ba_name" rows="2" cols="30">
      {{ba_name}}
    </textarea>
    <br />
    <label for="location">
      Location:
    </label>
    <br />
    <textarea id="location" name="location" rows="2" cols="30">
      {{location}}
    </textarea>
    <br />
    <br />
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/add-demo.js"></script>