<div class="dish-card">
  <div class="dish-card-header">
    {{brand}}
  </div>
  <div class="card-body">
    <p>
      Campaign:
      {{campaign}}
    </p>
    <p>
      BA:
      {{ba_name}}
    </p>
    {{location}}
  </div>
</div>

<!-- TODO: This is the form for updating a dish. According to MVC framework, what is this form responsible for? What isn't it responsible for? -->

<div class="edit-dish-container">
  <h2>
    Update Event
  </h2>
  <form class="edit-dish-form">
    <label for="brand">
      Brand:
    </label>
    <br />
    <textarea id="brand" name="brand" rows="2" cols="30">
      {{brand}}
    </textarea>
    <br />
    <label for="campaign">
      Campaign:
    </label>
    <br />
    <textarea id="campaign" name="campaign" rows="2" cols="30">
      {{campaign}}
    </textarea>
    <br />
    <label for="ba_name">
      BA Name:
    </label>
    <br />
    <textarea id="ba_name" name="ba_name" rows="2" cols="30">
      {{ba_name}}
    </textarea>
    <br />
    <label for="location">
      Location:
    </label>
    <br />
    <textarea id="location" name="location" rows="2" cols="30">
      {{location}}
    </textarea>
    <br />
    <br />
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-demo.js"></script>